.comment-wrapper {
    margin-bottom: 1.25rem;
}

.comment-item {
    display: flex;
    gap: 1.5rem;
}

.vote-control {
    background-color: var(--very-light-gray);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2rem;
    padding: 0.8rem 0.6rem;
    height: fit-content;
    width: 40px;
}

.vote-control span {
    color: var(--moderate-blue);
    font-weight: var(--font-medium);
    font-size: 1rem;
}

.vote-control button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment-content {
    flex: 1;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.user-avatar img {
    width: 32px;
    height: 32px;
}


.username {
    color: var(--dark-blue);
    font-weight: var(--font-bold);
}

.you-tag {
    background-color: var(--moderate-blue);
    color: var(--white);
    font-size: 0.8rem;
    padding: 0.1rem 0.4rem;
    border-radius: 2px;
    font-weight: var(--font-medium);
}

.created-at {
    color: var(--grayish-blue);
}

.comment-actions button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: var(--font-medium);
    font-size: 1rem;
}

.btn-reply-action {
    color: var(--moderate-blue);
}

.btn-delete-action {
    color: var(--soft-red);
}

.btn-edit-action {
    color: var(--moderate-blue);
}

.btn-reply-action:hover,
.btn-edit-action:hover {
    color: var(--light-grayish-blue);
}

.btn-delete-action:hover {
    color: var(--pale-red);
}

.comment-body p {
    line-height: 1.5;
    word-break: break-word;
}

.replying-to {
    color: var(--moderate-blue);
    font-weight: var(--font-bold);
}

.edit-mode textarea {
    width: 100%;
    border: 1px solid var(--light-gray);
    border-radius: 8px;
    padding: 0.8rem 1.5rem;
    resize: none;
    font-size: 1rem;
    color: var(--dark-blue);
    outline: none;
    margin-bottom: 1rem;
}

.edit-actions {
    display: flex;
    justify-content: flex-end;
}

.btn-update {
    background-color: var(--moderate-blue);
    color: var(--white);
    padding: 0.8rem 1.8rem;
    border-radius: 8px;
    font-weight: var(--font-medium);
}

.comment-header-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 600px) {
    .btn-reply-action.desktop-only {
        display: none;
    }

    .comment-header-actions {
        /* Align kebab menu to the very top right */
        margin-top: -0.5rem;
        margin-right: -0.5rem;
    }
}

.comment-actions.mobile {
    display: none;
}

@media (max-width: 600px) {
    .comment-item {
        flex-direction: column-reverse;
    }

    .vote-control.desktop {
        display: none;
    }


    .comment-actions.mobile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
    }

    .vote-control.mobile-only {
        flex-direction: row;
        padding: 0.5rem 0.8rem;
        gap: 1.2rem;
    }

    .action-buttons {
        display: flex;
        gap: 1rem;
    }
}